<li>
    <a href="/user/{{ownerId}}/product/{{ _id }}">
        <strong>Product Name: {{name}}</strong>
        <p>{{shortDescription}}</p>
        <strong>Product Quantity: {{quantity}}</strong>
    </a>
</li>