<div class="card" style="width: 25rem;">
  <div class="card-body">
    <img class="card-img-top" id="single-product-img" src="{{ product.productPhotoUrl }}" alt="{{ product.name }}">
    <br>
    <h4 class="card-title">{{ product.name }}</h4>
    <p class="card-text">{{ product.shortDescription }}</p>
    <p class="card-text">Owner: {{ product.ownerId.name }}</p>
    <p class="card-text">{{ product.longDescription }}</p>
    <p class="card-text"> Price: {{ product.price }} Euros </p>
    <p class="card-text"> Availability: {{ product.quantity }} </p>
    {{#if productOwner}}
    <p>Trigger Quantity: {{ product.supplyTrigger.quantity }} </p>
    <br>
    <a href="/user/{{ product.ownerId._id }}/product/{{ product._id }}/update" class="btn btn-primary">Update
      Product</a>
    {{/if}}

    {{#if user.isclient}}
    <a href="">Order</a>
    {{/if}}

  </div>
</div>