<div class="card card-outline-secondary">
    <div class="card-header">
        <h3 class="mb-0 text-center">Update your product</h3>
    </div>
    <div class="card-body">
        <form action="" class="form" role="form" id="loginForm" novalidate="" method="POST"
            enctype="multipart/form-data">


            <div class="form-group">
                <label for="input-name">Name</label>
                <input type="text" name="productName" class="form-control" value='{{ product.name }}' id="input-name">
            </div>

            <div class="form-group">
                <label for="input-picture">Picture</label>
                <input type="file" name="picture" class="form-control" id="input-picture">
            </div>

            <div class="form-group">
                <label for="category">Category </label>
                <select require name="category" class="form-control" value='{{ product.category }}'
                    id="productCategory">
                    <option value="type1">Cake</option>
                    <option value="type2">Toast</option>
                    <option value="type3">Coffee</option>
                    <option value="type4">Juice</option>
                    <option value="type5">Omelette</option>
                </select>
            </div>

            <div>
                <label for="input-role">Role</label>
                <input type="text" id="input-role" class="form-control" name="role" value="{{renderUser.role}}"
                    placeholder="Your Role" />
            </div>

            <div class="form-group">
                <label for="input-password">Password</label>
                <input type="password" class="form-control" name="password" id="input-password"
                    placeholder="A Strong Password" />
            </div>
            <div class="form-group">
                <label for="input-short-description">Short description</label>
                <input name="shortDescription" class="form-control" type="text" value='{{ product.shortDescription }}'
                    id="input-short-description" placeholder="Describe your product">
            </div>

            <div class="form-group">
                <label for="input-long-description">Product's long description</label>
                <textarea name="longDescription" class="form-control" id="long-description"
                    placeholder="Describe your product">{{ product.longDescription }}</textarea>
            </div>

            <div class="form-group">
                <label for="product-quantity">Quantity</label>
                <input name="productQuantity" class="form-control" type="number" value="{{ product.quantity }}"
                    id="product-quantity">
            </div>

            <div class="form-group">
                <label for="product-price">Product's price</label>
                <input name="productPrice" class="form-control" type="number" value='{{ product.price }}'
                    id="product-price">
            </div>

            <div class="form-group">
                <label for="supply-trigger">Supply Trigger</label>
                <input name="supplyTrigger" class="form-control" type="number" value='{{ product.supplyTrigger }}'
                    id="supply-trigger">
            </div>

            <button class="btn btn-success float-right">Update</button>
        </form>

        <form action="/user/{{ product.ownerId._id }}/product/{{ product._id }}/delete" method="POST">
            <button class="btn btn-danger">Delete</button>
        </form>
    </div>