<h1>User Profile</h1>
<p>Hello, {{renderUser.name}}!</p>
<p>You are a {{ renderUser.role }}</p>

{{!-- <img src="{{ renderUser.userPhotoUrl " alt="{{ renderUser.name "> --}}
<h2> {{ renderUser.name }} </h2>
<h4> {{ renderUser.email }} </h4>
<h4>Role: {{ renderUser.role }}</h4>

<a href="/user/profile/{{renderUser._id}}/update">Update your profile</a>